{% extends 'blocks/base.html' %}
{% load widget_tweaks %}

{% block content %}
<form method="post" novalidate>
    {% csrf_token %}

    {% for hidden_field in context_dict.form_items.hidden_fields %}
    {{ hidden_field }}
    {% endfor %}

    {% if context_dict.form_items.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in context_dict.form_items.non_field_errors %}
        {{ error }}
        {% endfor %}
    </div>
    {% endif %}

    {% for field in context_dict.form_items.visible_fields %}
    <div class="form-group">
        {{ field.label_tag }}

        {% if context_dict.form_items.is_bound %}
        {% if field.errors %}
        {% render_field field class="form-control is-invalid" %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endfor %}
        {% else %}
        {% render_field field class="form-control is-valid" %}
        {% endif %}
        {% else %}
        {% render_field field class="form-control" %}
        {% endif %}

        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
    </div>
    {% endfor %}

    {% include 'blocks/message.html' %}

</form>

{% endblock %}
