#################
# Django
#################
*.pyc
*~
__pycache__
db.sqlite3
.DS_Store
test.py
*project.py
manage.py
vendors/

#################
# Workflows
#################
*.h5
*.csv
*.xlsx
*.xls
*.log
*.bak
*.svg
techpacks/
test_reports/
photos/
prints/
uploads/
artworks/
sourcing/images/
efocus/images/

#################
# Analytics
#################
*.ipynb
*.ckpt
*.tfrecords
checkpoint
parameters*
ai_parameters/
parameters/
train.log/
cache/

#################
# Elastic Beanstalk Files
#################
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
