{% extends 'architecture/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Password change required{% endblock %}

{% block css %}
{% include 'embedded/load_css_lib.html' %}
<link rel="stylesheet" href="{{ CSS_URL }}application_structure.css">
<link rel="stylesheet" href="{{ CSS_URL }}overwritten.css">
<link rel="stylesheet" href="{{ CSS_URL }}login-form-elements.css">
{% endblock %}


{% block body %}

{% if password_change_required %}

<div class="login_wrapper" style="margin-top:0;">
    <div class="animate form login_form">
        <section class="login_content">
            <form action="{% url 'password_change' %}" method="post">
                {% csrf_token %}
                <h1>Reset Password</h1>
                
                {{ form.as_p }}

                <input style="margin:auto;" class="btn btn-default" type="submit" value="Submit" />
                <div class="clearfix"></div>
            </form>
        </section>
    </div>
</div>

{% else %}

<div class="container body">
    <div class="main_container">
        <div class="col-md-12">
            <div class="col-middle">
                Go back to <a href="{% url 'base' %}">application page</a>.
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}
